In [8]:
#Importing data from Excel
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel (r'Documents\Album_Ratings.xlsx')
print (df)

      Unnamed: 0  position                       release_name  \
0              1         1                        OK Computer
1              2         2                              Kid A
2              3         3          The Dark Side of the Moon
3              4         4                           Loveless
4              5         5  My Beautiful Dark Twisted Fantasy
...          ...       ...                                ...
4995        4996      4996                              Copia
4996        4997      4997   Let Mortal Heroes Sing Your Fame
4997        4998      4998                     Dangerous Days
4998        4999      4999                     Third Ear Band
4999        5000      5000                          The Album

              artist_name release_date release_type  \
0               Radiohead   1997-06-16        album
1               Radiohead   2000-10-03        album
2              Pink Floyd   1973-03-23        album
3     My Bloody Valentine   1991-11-11        album
4              Kanye West   2010-11-22        album
...                   ...          ...          ...
4995              Eluvium   2007-02-20        album
4996            Summoning   2001-10-31        album
4997          Perturbator   2014-06-17        album
4998       Third Ear Band   1970-06-01        album
4999                 ABBA   1977-12-12        album

                                      primary_genres  \
0                         Alternative Rock, Art Rock
1            Art Rock, Experimental Rock, Electronic
2                         Art Rock, Progressive Rock
3                                Shoegaze, Noise Pop
4                                   Pop Rap, Hip Hop
...                                              ...
4995                                         Ambient
4996  Atmospheric Black Metal, Symphonic Black Metal
4997              Darksynth, Horror Synth, Synthwave
4998                     Progressive Folk, Free Folk
4999                            Pop, Progressive Pop

                       secondary_genres  \
0                                   NaN
1              Ambient, Electronic, IDM
2          Psychedelic Rock, Space Rock
3            Dream Pop, Neo-Psychedelia
4                               Art Pop
...                                 ...
4995  Modern Classical, Post-Minimalism
4996                      Dungeon Synth
4997                 Electro-Industrial
4998          Drone, Free Improvisation
4999                  Europop, Pop Rock

                                            descriptors  avg_rating  \
0     melancholic, anxious, futuristic, malevocals, ...        4.24
1     cold, melancholic, futuristic, anxious, atmosp...        4.23
2     philosophical, atmospheric, introspective, exi...        4.21
3     noisy, ethereal, atmospheric, romantic, love, ...        4.24
4     epic, boastful, passionate, sampling, hedonist...        4.09
...                                                 ...         ...
4995  instrumental, atmospheric, bittersweet, sentim...        3.44
4996  fantasy, epic, triumphant, melodic, atmospheri...        3.73
4997  futuristic, ominous, sciencefiction, atmospher...        3.50
4998  instrumental, ritualistic, hypnotic, atmospher...        3.63
4999  femalevocals, melodic, playful, uplifting, rom...        3.55

      rating_count  review_count
0            74027          1541
1            61658           751
2            60192          1557
3            53174          1264
4            52149           638
...            ...           ...
4995          2171            63
4996          2170            20
4997          2170            21
4998          2169            39
4999          2169            51

[5000 rows x 12 columns]

In [29]:
# Return the columns names
# Unnamed: 0: Count of the columns. Not much use as is a direct duplicate of the second column
# position: The rank of the album based on rating_count
# release_name: Name of the album
# artist_name: Name of the artist who released the album
# release_date: Date the album was released
# release_type: The media type. This is always "album"
# primary_genres: The genres of music the album consists of
# secondary_genres: Any subgenres of music the album consists of
# descriptors: Themes & concepts that the album is based on
# avg_rating: The average rating that the album was given across all ratings
# rating_count: Total times the album has been rated
# review_count: Total times the album has been reviewed
df.columns

Index(['Unnamed: 0', 'position', 'release_name', 'artist_name', 'release_date',
       'release_type', 'primary_genres', 'secondary_genres', 'descriptors',
       'avg_rating', 'rating_count', 'review_count'],
      dtype='object')

In [28]:
# 5000 total rows, 12 columns
# Rows 1 & 2 appear to be duplicates relating to the rank of the albums and are objects
# Not much missing data. primary_genres is missing one record while secondary_genres is missing 495 records
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5000 non-null   int64
 1   position          5000 non-null   int64
 2   release_name      5000 non-null   object
 3   artist_name       5000 non-null   object
 4   release_date      5000 non-null   datetime64[ns]
 5   release_type      5000 non-null   object
 6   primary_genres    4999 non-null   object
 7   secondary_genres  4505 non-null   object
 8   descriptors       5000 non-null   object
 9   avg_rating        5000 non-null   float64
 10  rating_count      5000 non-null   int64
 11  review_count      5000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 468.9+ KB

In [27]:
# First 5 rows returned
df.head()

,Unnamed: 0,position,release_name,artist_name,release_date,release_type,primary_genres,secondary_genres,descriptors,avg_rating,rating_count,review_count
0,1,1,OK Computer,Radiohead,1997-06-16,album,"Alternative Rock, Art Rock",NaN,"melancholic, anxious, futuristic, malevocals, ...",4.24,74027,1541
1,2,2,Kid A,Radiohead,2000-10-03,album,"Art Rock, Experimental Rock, Electronic","Ambient, Electronic, IDM","cold, melancholic, futuristic, anxious, atmosp...",4.23,61658,751
2,3,3,The Dark Side of the Moon,Pink Floyd,1973-03-23,album,"Art Rock, Progressive Rock","Psychedelic Rock, Space Rock","philosophical, atmospheric, introspective, exi...",4.21,60192,1557
3,4,4,Loveless,My Bloody Valentine,1991-11-11,album,"Shoegaze, Noise Pop","Dream Pop, Neo-Psychedelia","noisy, ethereal, atmospheric, romantic, love, ...",4.24,53174,1264
4,5,5,My Beautiful Dark Twisted Fantasy,Kanye West,2010-11-22,album,"Pop Rap, Hip Hop",Art Pop,"epic, boastful, passionate, sampling, hedonist...",4.09,52149,638

In [67]:
# Returns the number of unique records in each column
# There are 2090 different artists who make up the 5000 records
# There are 4938 unique realease_name which suggests that some albums in the list have the same name
df.nunique()

Unnamed: 0          5000
position            5000
release_name        4938
artist_name         2090
release_date        3271
release_type           1
primary_genres      2245
secondary_genres    3371
descriptors         4997
avg_rating           244
rating_count        3552
review_count         443
dtype: int64

In [31]:
# make a copy of the dataset
albums_df = df.copy()

In [68]:
# Adding a name, "rank" to the first column that was previously unnamed
albums_df_allnamed = albums_df.rename(columns={'Unnamed: 0': 'rank'})

In [69]:
# The first column is now renamed as rank
albums_df_allnamed.columns

Index(['rank', 'position', 'release_name', 'artist_name', 'release_date',
       'release_type', 'primary_genres', 'secondary_genres', 'descriptors',
       'avg_rating', 'rating_count', 'review_count'],
      dtype='object')

In [70]:
# Make a copy of the dataset
albums_df_removecol = albums_df_allnamed

In [71]:
# As the columns rank & position are essentially the same, we are going to remove the position column
del albums_df_removecol["position"]

In [72]:
# position column now removed
albums_df_removecol.columns

Index(['rank', 'release_name', 'artist_name', 'release_date', 'release_type',
       'primary_genres', 'secondary_genres', 'descriptors', 'avg_rating',
       'rating_count', 'review_count'],
      dtype='object')